.acc{
   width: 95%;
   margin: 20px;
   padding: 20px; 
}



.title{
    font-size:40px;
}

.subtitle{
    font-size: 20px;
}

.btn{
    display: inline-block;
    padding: 15px 25px;
    font-size: 25px;
    margin: 2px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: aqua;
    background-color: rgb(57, 35, 9);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.btn:hover{
    background-color: rgb(102, 65, 10);
}

.btn:active{
    background-color: rgb(153, 158, 11);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}